* {
	font-family: 'Poppins', sans-serif;
	margin: 0 auto;
}

header {
	height: 160px;
	width: 100%;
	background-color: #FFFFFF;
}

.block__header {
	text-transform: uppercase;
	font-weight: bold;
	color: #FFFF00;
	text-align: right;
}

.block__title {
	font-size: 18px;
	padding: 60px 80px 0 0;
	
}

.block__title p:last-of-type {
	width: 200px;
	border-left: 3px solid #FFFF00;
	margin-right: 0;
}

.container {
	width: 100%;
	height: 350px;
	background-color: #434343;
	color: #FFFFFF;
	text-align: right;
}

.container__section {
	font-size: 18px;
	padding: 40px 60px 0 0;
	width: 650px;
	margin-right: 0;
}

.div__paragraph {
	font-weight: bold;
	padding: 5px;
	font-size: 22px;
	text-transform: uppercase;
}

.container__section h2 {
	font-size: 50px;
	color: #FFFF00;
	text-transform: uppercase;
}

.container__section p:last-of-type {
	font-size: 12px;
	margin-top: 20px;
}

.block__section {
	background-image: url('images/rawpixel-com-423658.png');
    background-repeat: no-repeat;
    background-position: center; 
    width: 100%;
    height: 600px;
    text-align: right;
}

.styl {
	font-size: 50px;
	color: #FFFFFF;
}

.block__div {
	margin-right: 0;
	padding: 30px 60px 0 0;
	width: 650px;
	font-weight: bold;
}

.block__div p:last-of-type {
	color: #000000;
	font-size: 12px;
	margin-top: 20px;
}

.block__div p:nth-of-type(3) {
	color: #FFFFFF;
	font-size: 12px;
	margin-top: 20px;
}

.footer {
	width: 100%;
	height: 100px;
	background-color: #527F76;
}

.footer__img img {
	width: 30px;
	height: 30px;
	padding: 20px;
	margin: 0 40px 0 40px;
}

.footer__img {
	padding: 15px 0 15px 400px;
}

aside {
	color: #FFFFFF;
	font-weight: bold;
	background-color: #FFFF33;
	background: rgba(255, 255, 0, 0.6);
	width: 250px;
	height: 810px;
	position: absolute;
	top: 0;
	right: 950px;
	font-size: 18px;
}

.aside__one {
	height: 160px;
	text-transform: uppercase;
	text-align: center; 
}

.aside__one h1 {
	font-weight: bold;
	font-size: 70px;
}

.aside__two {
	height: 350px;
	font-size: 12px;
	margin-top: 150px;
	padding: 0 10px 0 10px;
}

.aside__three {
	height: 300px;
	text-transform: uppercase;
	margin-top: 70px;
	padding: 0 10px 0 10px;
}

.container__footer {
	background-color: #434343;
	color: #FFFFFF;
	width: 350px;
	height: 400px;
	position: absolute;
	top: 810px;
	right: 950px;
}

ul {
	list-style-type: none;
	margin: 50px 0 0 20px;	
}

li {
	padding: 20px;
}

.container__footer img {
	width: 15px;
	height: 15px;
	padding: 3px;
	margin-right: 0 10px 0 0;
}

.container__footer li:first-of-type {
	list-style-image: url('images/placeholder.png')
}

.container__footer li:nth-of-type(2) {
	list-style-image: url('images/old-handphone.png')
}

.container__footer li:nth-of-type(3) {
	list-style-image: url('images/email-filled-closed-envelope.png')
}

.container__footer a {
	text-decoration: none;
	color: #FFFF00;
}